.list-group {
    padding-bottom: 100px;
}

.list-group-item {
    margin: 1rem 0;
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: left;
}

.delete-button {
    color: red;
    float: right;
}